.span
{
    font-size: 2em;
    font-weight: bold;
}
img
{
    display: block;
    max-width:100px;
    max-height:95px;
    width: auto;
    height: auto;
    margin-left: 1em;
    margin-right: 1em;
    min-width:100px;
}
.flexDiv
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    min-width: 30em;
    margin-bottom: 10px;
}
.flexDivOuter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    min-width: 50%;
}

.scoreDivLeft
{
    display:flex;
    flex-direction:column;
    min-width:150px;
    font-family:RollboxBold;
    align-items: center;
}
.scoreDivRight
{
    display:flex;
    flex-direction:column;
    min-width:150px;
    font-family:RollboxBold;
    align-items: center;
}
.accordion-button
{
    min-width:30em;
    background-color: cornflowerblue !important;
}
.accordion
{
    max-width:inherit;
}
.team-scoreDiv
{
    border: .1em solid black;
    padding: 1em 0 .5em 0;
    min-width: 50%;
}

.inherit-font-family
{
    font-family: RollboxBold !important;
    margin-bottom: 2em;
}
.date
{
    font-family: RollboxBold !important;
    font-size: 2em;
}
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}
